.material-symbols-outlined {
    font-size: 30px;
    margin-left: 30px;
    margin-right: 20px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.zeroMP {
    margin: 0;
    padding: 0;
}

body {
    background-color: orange;
    width: 100vw;
    height: 100vh;
}

a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-underline-offset: 6px;
}

.banner {
    display: flex;
    padding: 5vh 3vw 3vw 3vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100vw;
    background-color: black;
}

.name {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.statement {
    padding: 10px;
    color: white;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.linksHeader {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.leftCol {
    width: 33vw;
    height: 85vh;
    background-color: black;
}

.contact-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
}